node_modules
dist
coverage
.env
.env.*
!.env.example
.gh-secrets-state.json
.DS_Store

.next
target
packages/allowlister-remote-plugin/vendor

tsconfig.tsbuildinfo

.nx

.local
.dev
test-results
playwright-report
